<div>
    <h1>Movie Shelf</h1>
    <nav>
        search goes here
    </nav>
    
    <div class="container fluid">
        <div class="row">
            <div class="col-sm-7">
                search results list goes here
                <movie-list
                    movies="$ctrl.movies"
                    on-click="$ctrl.addMovie"
                ></movie-list>
            </div>
            <div class="col-sm-5">
                movie shelf goes here
                <shelf
                    my-movies="$ctrl.myMovies"
                ></shelf>
            </div>
        </div>
    </div>
</div>