<li class="video-list-entry media">
    <h4 ng-href="{{$ctrl.movie.trackViewUrl}}">{{$ctrl.movie.trackName}}</h4>
    <div class="media-left" >
        <img class="media-object" ng-src="{{$ctrl.movie.artworkUrl100}}" />
    </div>
    <div class="media-body">
        <!-- <div class="video-list-entry-title" ng-href="{{$ctrl.movie.trackViewUrl}}">{{$ctrl.movie.trackName}}</div> -->
        <div>{{$ctrl.movie.artistName}}</div>
        <div>{{$ctrl.movie.releaseDate.slice(0,4)}}</div>
        <div>{{'"' + $ctrl.movie.longDescription + '"'}}</div>
        <a ng-href="{{$ctrl.movie.previewUrl}}" target="_blank" class="btn btn-primary btn-md active" role="button">Trailer</a>
        <button type="button" class="btn btn-success">Add to my shelf</button>
    </div>
</li>